<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to get started?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia earum
        doloremque fugit voluptatum corrupti quae facilis voluptates,
        voluptatibus expedita error, ducimus eveniet. Ut exercitationem atque
        delectus sequi, cum doloribus deleniti!
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started?</a>
  </div>
</div>
